<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head'); %>
    <title>Home page</title>
</head>
<body class="container">

    <header>
        <%- include ('../partials/header'); %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>This is the homepage</h1>
            <p>Welcome to templating using EJS.</p>
        </div>
    </main>

    <footer>
        <%- include ('../partials/footer'); %>
</body>
</html>