<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head'); %>
    <title>Home page</title>
</head>
<body class="container">
    <header>
        <%- include ('../partials/header'); %>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>This is the homepage</h1>
            <h2>Welcome to Formula 1 Hub!</h2>
            <p>Explore information about Formula 1 races, teams, drivers, and race results. <br> <strong>And when you think that you are ready, you can <a href="http://localhost:3000/bet">BET!</a></strong></p>
        </div>
    </main>

    <footer>
        <%- include ('../partials/footer'); %>
    </footer>
</body>
</html>